#contact {
    background-color: #FFFBC1;
}

h2 {
    font-family: 'Chelsea Market', cursive;
    font-size: 30px;
    text-align: center;
}


/* Contact form */
.contact-form {
    text-align: center;
    font-family: 'Piazzolla', serif;
    font-size: 15px;
}

/* Contact Us */
#contact-us-text {
    padding: 180px 0 50px;
}

/* Para below contact us */

#description {
    font-family: 'Piazzolla', serif;
    font-size: 15px;
    width: 30%;
    margin: auto;
}

/* First name */

#fname {
    margin: 50px 0 0;
}

/* Contact form items */
.contact-items {
    margin: 10px 0;
    width: 420px;
    height: 30px;
    font-family: 'Piazzolla', serif;
    font-size: 15px;
    padding: 5px 0;
}

/* Email */

#email {
    width: 420px;
    font-family: 'Piazzolla', serif;
    font-size: 15px;
    text-transform: capitalize;
}

/* Message box */

#message {
    height: 200px;
}

/* Submit button */

.button-container {
    text-align: center;
}
  
#submit {
    display: inline-block;
    background-color: #FEBE8C;
    border-color: #FEBE8C;
    font-family: 'Chelsea Market', cursive;
    font-size: 20px;
    text-transform: uppercase; 
    color: white;
    padding: 10px;
    margin: 10px 0 200px;
    border-color: black;
    width: 420px;
}

#submit:hover {
    background-color: #B6E2A1;
    border-color: black;
}

/* Mobile Design CSS  */
@media (max-width: 768px) {
    #description {
        width: 50%;
    }
}