.header {
    /* background-image: url("../assets/welcome.png"); */
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: #FFFBC1;
    /* Creates outline */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.button-container {
    text-align: center;
}
  
button {
    display: inline-block;
    background-color: #FEBE8C;
    border-color: #FEBE8C;
    font-family: 'Chelsea Market', cursive;
    font-size: 30px;
    text-transform: uppercase; 
    color: white;
    padding: 10px;
}

button:hover {
    background-color: #F5F5F5;
    border-color: black;
}